---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title='biographical data'
  description='obligatory about me page'
  pubDate={new Date("December 10 2025")}
  heroImage={AboutHeroImage}
>
  <p>more</p>

  <p>
    will be

    <p>revealed</p>
  </p>
</Layout>
